@import "../config.styl"

.code
.pre
	background $lightGrayLight
	padding 4px 8px
	border-radius 8px
	@media (prefers-color-scheme dark)
		background $lightGrayDark

.pre
	display block
	.code
		padding 0
