@import "../config"

.row
	display flex
	flex-wrap wrap
	margin (0 - $gapSize) 0 0 (0 - $gapSize)
	padding $gapSize

	&.nomargin
	.row
		padding 0

.nowrap
	flex-wrap nowrap

.nogrow > *
	flex-grow 0

for dir in 'row-reverse' 'column' 'column-reverse'
	.direction-{dir}
		flex-direction unquote(dir)

@media (max-width $mobile)
	for dir in 'row-reverse' 'column' 'column-reverse'
		.direction-mobile-{dir}
			flex-direction unquote(dir)

for just in 'flex-start' 'center' 'flex-end' 'space-between' 'space-around' 'space-evenly'
	.justify-{just}
		justify-content unquote(just)

for align in 'flex-start' 'center' 'flex-end' 'baseline'
	.align-{align}
		align-items unquote(align)
