@import "../config"

.col
	max-width 100%
	flex-basis 0
	flex-grow 1

	&.nogrow
		max-width initial
		flex-grow 0
		flex-basis initial

for i in (0...$colCount+1)
	.col-{i}
		if i == 0
			display none
		else
			flex 0 0 ((i / 12) * 100)%
			min-width ((i / 12) * 100)%

	if i != $colCount and i != 0
		.offset-{i}
			margin-left ((i / 12) * 100)% + (i * $gapSize + $gapSize)px

@media (max-width $tablet)
	.col.tabletGrow
		flex-grow 1

	for i in (0...$colCountTablet+1)
		.col-tablet-{i}
			if i == 0
				display none
			else
				flex 0 0 ((i / $colCountTablet) * 100)%
				min-width ((i / $colCountTablet) * 100)%

		if i != $colCountTablet and i != 0
			.offset-tablet-{i}
				margin-left ((i / $colCountTablet) * 100)% + (i * $gapSize - $gapSize)

@media (max-width $mobile)
	.col.mobileGrow
		flex-grow 1

	for i in (0...$colCountMobile+1)
		.col-mobile-{i}
			if i == 0
				display none
			else
				flex 0 0 ((i / $colCountMobile) * 100)%
				min-width ((i / $colCountMobile) * 100)%
		if i != $colCountMobile and i != 0
			.offset-tablet-{i}
				margin-left ((i / $colCountMobile) * 100)% + (i * $gapSize - $gapSize)
