@import '../config'

.table
	border-spacing 0
	width 100%

	tr
		$radius = 16px
		td:first-child
		th:first-child
			border-top-left-radius $radius
			border-bottom-left-radius $radius

		td:last-child
		th:last-child
			border-top-right-radius $radius
			border-bottom-right-radius $radius

	th
	td
		padding 16px
		text-align left
		color black
		@media (prefers-color-scheme dark)
			color white
	th
		background $lightGrayLight
		color $darkGrayLight
		@media (prefers-color-scheme dark)
			background $lightGrayDark
			color $darkGrayDark

.parent
	overflow-x auto
