@import "../config"

.text
	margin 0
	font-size rem(16)
	font-weight normal

	+ .text
		margin-top 8px

.white
	color white

.black
	color black

.main
	color nativeRGB(var(--theme-color))

for size in 36 28 24 20 18 16 14
	.size-{size}
		font-size rem(size)

for weight in 'normal' 'bold'
	.weight-{weight}
		font-weight unquote(weight)
.weight-light
	font-weight 300

.align-center
	text-align center

.align-right
	text-align right

.align-left
	text-align left

@media (prefers-color-scheme dark)
	.white:not(.noDarkTheme)
		color black
	.black:not(.noDarkTheme)
		color white
