$path = "/assets/fonts/aileron"

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-Regular.eot')
	src local('Aileron Regular'), local('Aileron-Regular'),
		url($path + '/Aileron-Regular.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-Regular.woff2') format('woff2'),
		url($path + '/Aileron-Regular.woff') format('woff'),
		url($path + '/Aileron-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-BoldItalic.eot')
	src local('Aileron Bold Italic'), local('Aileron-BoldItalic'),
		url($path + '/Aileron-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-BoldItalic.woff2') format('woff2'),
		url($path + '/Aileron-BoldItalic.woff') format('woff'),
		url($path + '/Aileron-BoldItalic.ttf') format('truetype')
	font-weight bold
	font-style italic
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-HeavyItalic.eot')
	src local('Aileron Heavy Italic'), local('Aileron-HeavyItalic'),
		url($path + '/Aileron-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-HeavyItalic.woff2') format('woff2'),
		url($path + '/Aileron-HeavyItalic.woff') format('woff'),
		url($path + '/Aileron-HeavyItalic.ttf') format('truetype')
	font-weight 900
	font-style italic
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-BlackItalic.eot')
	src local('Aileron Black Italic'), local('Aileron-BlackItalic'),
		url($path + '/Aileron-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-BlackItalic.woff2') format('woff2'),
		url($path + '/Aileron-BlackItalic.woff') format('woff'),
		url($path + '/Aileron-BlackItalic.ttf') format('truetype')
	font-weight 900
	font-style italic
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-UltraLightItalic.eot')
	src local('Aileron UltraLight Italic'), local('Aileron-UltraLightItalic'),
		url($path + '/Aileron-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-UltraLightItalic.woff2') format('woff2'),
		url($path + '/Aileron-UltraLightItalic.woff') format('woff'),
		url($path + '/Aileron-UltraLightItalic.ttf') format('truetype')
	font-weight 200
	font-style italic
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-Bold.eot')
	src local('Aileron Bold'), local('Aileron-Bold'),
		url($path + '/Aileron-Bold.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-Bold.woff2') format('woff2'),
		url($path + '/Aileron-Bold.woff') format('woff'),
		url($path + '/Aileron-Bold.ttf') format('truetype')
	font-weight bold
	font-style normal
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-Black.eot')
	src local('Aileron Black'), local('Aileron-Black'),
		url($path + '/Aileron-Black.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-Black.woff2') format('woff2'),
		url($path + '/Aileron-Black.woff') format('woff'),
		url($path + '/Aileron-Black.ttf') format('truetype')
	font-weight 900
	font-style normal
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-LightItalic.eot')
	src local('Aileron Light Italic'), local('Aileron-LightItalic'),
		url($path + '/Aileron-LightItalic.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-LightItalic.woff2') format('woff2'),
		url($path + '/Aileron-LightItalic.woff') format('woff'),
		url($path + '/Aileron-LightItalic.ttf') format('truetype')
	font-weight 300
	font-style italic
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-SemiBold.eot')
	src local('Aileron SemiBold'), local('Aileron-SemiBold'),
		url($path + '/Aileron-SemiBold.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-SemiBold.woff2') format('woff2'),
		url($path + '/Aileron-SemiBold.woff') format('woff'),
		url($path + '/Aileron-SemiBold.ttf') format('truetype')
	font-weight 600
	font-style normal
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-Thin.eot')
	src local('Aileron Thin'), local('Aileron-Thin'),
		url($path + '/Aileron-Thin.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-Thin.woff2') format('woff2'),
		url($path + '/Aileron-Thin.woff') format('woff'),
		url($path + '/Aileron-Thin.ttf') format('truetype')
	font-weight 100
	font-style normal
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-SemiBoldItalic.eot')
	src local('Aileron SemiBold Italic'), local('Aileron-SemiBoldItalic'),
		url($path + '/Aileron-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-SemiBoldItalic.woff2') format('woff2'),
		url($path + '/Aileron-SemiBoldItalic.woff') format('woff'),
		url($path + '/Aileron-SemiBoldItalic.ttf') format('truetype')
	font-weight 600
	font-style italic
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-ThinItalic.eot')
	src local('Aileron Thin Italic'), local('Aileron-ThinItalic'),
		url($path + '/Aileron-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-ThinItalic.woff2') format('woff2'),
		url($path + '/Aileron-ThinItalic.woff') format('woff'),
		url($path + '/Aileron-ThinItalic.ttf') format('truetype')
	font-weight 100
	font-style italic
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-Light.eot')
	src local('Aileron Light'), local('Aileron-Light'),
		url($path + '/Aileron-Light.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-Light.woff2') format('woff2'),
		url($path + '/Aileron-Light.woff') format('woff'),
		url($path + '/Aileron-Light.ttf') format('truetype')
	font-weight 300
	font-style normal
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-UltraLight.eot')
	src local('Aileron UltraLight'), local('Aileron-UltraLight'),
		url($path + '/Aileron-UltraLight.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-UltraLight.woff2') format('woff2'),
		url($path + '/Aileron-UltraLight.woff') format('woff'),
		url($path + '/Aileron-UltraLight.ttf') format('truetype')
	font-weight 200
	font-style normal
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-Italic.eot')
	src local('Aileron Italic'), local('Aileron-Italic'),
		url($path + '/Aileron-Italic.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-Italic.woff2') format('woff2'),
		url($path + '/Aileron-Italic.woff') format('woff'),
		url($path + '/Aileron-Italic.ttf') format('truetype')
	font-weight normal
	font-style italic
	unicode-range U+0000-01FF

@font-face
	font-display swap
	font-family 'Aileron'
	src url($path + '/Aileron-Heavy.eot')
	src local('Aileron Heavy'), local('Aileron-Heavy'),
		url($path + '/Aileron-Heavy.eot?#iefix') format('embedded-opentype'),
		url($path + '/Aileron-Heavy.woff2') format('woff2'),
		url($path + '/Aileron-Heavy.woff') format('woff'),
		url($path + '/Aileron-Heavy.ttf') format('truetype')
	font-weight 900
	font-style normal
	unicode-range U+0000-01FF
