
$main = #4285F4
$textOnMain = white
$mainGradient = linear-gradient(to right, $main, lighten($main, 20%))

$infoDark = #01579B
$infoLight = #29B6F6

$successDark = #1B5E20
$successLight = #4CAF50

$errorDark = #7F0000
$errorLight = #F44336

$warningDark = #C43E00
$warningLight = #FF9800

$backgroundDark = #161616
$backgroundLight = #EEEEEE
$foregroundDark = #202020
$foregroundLight = #FFFFFF

$grayDark = #B0B0B0
$grayLight = #E0E0E0


$transitionTime = .15s
$transitionFunction = ease-in-out
$transition = $transitionTime $transitionFunction


// Breakpoints
$mobile = 768px
$tablet = 1200px

// Row/Col
$totalGapSize = 10%
$colCount = 12
$colCountTablet = 8
$colCountMobile = 4

$gapSize = 16px

rem($a)
	($a / 16)rem

// @deprecated colors
$default = $main


// See https://github.com/stylus/stylus/issues/1872#issuecomment-86553717
use('stylusUtils.js')

// Import theme in the root folder of the project
@import '../../../../../../theme' if file-exists('../../../../../../theme.styl')
