$default = #4285f4 // This color should never appear
$primary = #4285f4
$secondary = #FCFCFC
$info = #03A9F4
$success = #2DCE89
$danger = #F5365C
$warning = #FB6340

$transitionTime = .15s
$transitionFunction = ease-in-out
$transition = $transitionTime $transitionFunction

$darkBackground = #161616

// Breakpoints
$mobile = 768px
$tablet = 1200px

// Row/Col
$totalGapSize = 10%
$colCount = 12
$colCountTablet = 8
$colCountMobile = 4

$gapSize = 16px //$totalGapSize / ($colCount+1)

rem($a)
	($a / 16)rem
