@import '../config.styl'

.fieldset
	border-radius 4px
	border 2px solid $grayDark
	transition all $transition
	margin 0

	> legend
		font-weight 600
		transition all $transition
		padding 0 4px
		@media (prefers-color-scheme dark)
			color white
	&:hover
		border-color black

		@media (prefers-color-scheme dark)
			border-color white
