@import '../config'

.button
	font-size rem(16)
	position relative
	transition all $transition
	font-weight 600
	line-height 1.5
	display inline-flex
	padding 10px 20px
	margin 8px 8px 0 8px
	cursor pointer
	align-items center
	text-align center
	border-radius 4px
	border none
	justify-content center
	color $textOnMain
	background-color $main

	// Chrome Specific
	outline none

	// Link specific
	text-decoration none

	&.nomargintop
		margin-top 0

	&.outline
		border 2px solid @background-color
		padding 8px 18px // @padding - @border
		background transparent
		color @background-color

		&:hover
		&:active
		&:focus
			color @color

	&:hover
		background-color @background-color
		transform translateY(-2px)
		box-shadow 0 4px 4px rgba(@background-color,.2)

	&:active
	&:focus
		background-color darken(@background-color, 30%)

	&.large
		padding 15px 30px
		font-size rem(20)

		&.outline
			padding 13px 28px // @padding - @border

	&.small
		padding 5px 10px
		font-size rem(14)

		&.outline
			padding 3px 8px // @padding - @border

	&.block
		display flex
		width 100%
		margin 0
		margin-top 8px

	&:disabled
		background $grayLight
		color $grayDark
		transform none
		box-shadow none
		cursor initial

		&.outline
			border 2px solid @grayDark
			background transparent
			color @grayDark

			@media (prefers-color-scheme dark)
				border 2px solid @grayLight
				color @grayLight

	&.loading
		color transparent
		position relative
		pointer-events none

		&::after
			content ""
			display block
			border $textOnMain 2px solid
			border-color transparent transparent $textOnMain $textOnMain
			width 1em
			position absolute
			top calc(50% - (1em / 2))
			left calc(50% - (1em / 2))
			border-radius 100%
			height 1em
			box-sizing inherit
			animation ButtonLoading 1s infinite linear

.textInner
	margin-left 8px

/**
 * $color: the color to use
 * $theme: the theme used ('lighten' | 'darken')
*/
btn($color, $theme)
	background-color $color

	// Get Text Color
	$textColor = white
	if $theme is 'darken'
		$textColor = black
	else
		$textColor = white

	color $textColor

	&.outline
		color @background-color
		border-color @background-color

		&:hover
		&:active
		&:focus
			color @color

	&:hover
		background-color @background-color
		box-shadow 0 4px 4px rgba(@background-color,.2)

	&:active
	&:focus
		if $theme is 'darken'
			background-color darken(@background-color, 30%)
		else
			background-color lighten(@background-color, 30%)

	&.loading
		color transparent
		&::after
			border-color transparent transparent $textColor $textColor

.info:not(:disabled)
	btn($infoLight, 'darken')
	@media (prefers-color-scheme dark)
		btn($infoDark, 'lighten')

.success:not(:disabled)
	btn($successLight, 'darken')
	@media (prefers-color-scheme dark)
		btn($successDark, 'lighten')

.error:not(:disabled)
	btn($errorLight, 'darken')
	@media (prefers-color-scheme dark)
		btn($errorDark, 'lighten')

.warning:not(:disabled)
	btn($warningLight, 'darken')
	@media (prefers-color-scheme dark)
		btn($warningDark, 'lighten')

@keyframes ButtonLoading
	0%
		transform rotate(0)

	100%
		transform rotate(365deg)

.img
	min-width 16px