@import '../config'

.button
	font-size rem(16)
	position relative
	transition all $transition
	font-weight 600
	line-height 1.5
	display inline-flex
	padding 10px 20px
	margin 8px 8px 0 8px
	cursor pointer
	align-items center
	text-align center
	border-radius 4px
	border none
	justify-content center
	color white
	background-color $default

	// Chrome Specific
	outline none

	// Link specific
	text-decoration none

	&.nomargintop
		margin-top 0

	&.outline
		border 2px solid @background-color
		padding 8px 18px // @padding - @border
		background transparent
		color @background-color

		&:hover
		&:active
		&:focus
			color @color

	&:hover
		background-color @background-color
		transform translateY(-2px)
		box-shadow 0 4px 4px rgba(@background-color,.2)

	&:active
	&:focus
		background-color darken(@background-color, 30%)

	&.large
		padding 15px 30px
		font-size rem(20)

		&.outline
			padding 13px 28px // @padding - @border

	&.small
		padding 5px 10px
		font-size rem(14)

		&.outline
			padding 3px 8px // @padding - @border

	&.block
		display flex
		width 100%
		margin 0
		margin-top 8px

	&:disabled
		background #E0E0E0 !important
		color #B0B0B0 !important
		transform none !important
		box-shadow none !important
		cursor initial

	&.loading
		color transparent !important
		position relative
		pointer-events none

		&::after
			content ""
			display block
			border white 2px solid
			border-color transparent transparent white white
			width 1em
			position absolute
			top calc(50% - (1em / 2))
			left calc(50% - (1em / 2))
			border-radius 100%
			height 1em
			box-sizing inherit
			animation ButtonLoading 1s infinite linear



.textInner
	margin-left 8px

.primary
	background-color $primary
	&.outline
		color @background-color
		border-color @background-color

	&:hover
		background-color @background-color

	&:active
	&:focus
		background-color darken(@background-color, 30%)

	&.loading::after
		border-color transparent transparent @background-color @background-color

.secondary
	background-color $secondary
	color black
	&.outline
		color @color
		border-color @background-color

	&:hover
		background-color @background-color

	&:active
	&:focus
		background-color darken(@background-color, 30%)

	&.loading::after
		border-color transparent transparent @color @color
.info
	background-color $info
	&.outline
		color @background-color
		border-color @background-color

	&:hover
		background-color @background-color

	&:active
	&:focus
		background-color darken(@background-color, 30%)

	&.loading::after
		border-color transparent transparent @background-color @background-color
.success
	background-color $success
	&.outline
		color @background-color
		border-color @background-color

	&:hover
		background-color @background-color

	&:active
	&:focus
		background-color darken(@background-color, 30%)

	&.loading::after
		border-color transparent transparent @background-color @background-color
.danger
	background-color $danger

	&.outline
		color @background-color
		border-color @background-color

	&:hover
		background-color @background-color

	&:active
	&:focus
		background-color darken(@background-color, 30%)

	&.loading::after
		border-color transparent transparent @background-color @background-color
.warning
	background-color $warning

	&.outline
		color @background-color
		border-color @background-color

	&:hover
		background-color @background-color

	&:active
	&:focus
		background-color darken(@background-color, 30%)

	&.loading::after
		border-color transparent transparent @background-color @background-color

@keyframes ButtonLoading
	0%
		transform rotate(0)

	100%
		transform rotate(365deg)
