@import "../config"

.box
	background $foregroundLight
	@media (prefers-color-scheme dark)
		background $foregroundDark
	border-radius 8px

.outline
	border 2px solid $grayDark
	@media (prefers-color-scheme dark)
		border-color $grayLight


.header
	padding 16px

	+ .body
		padding-top 0

.title
	font-weight bold
	font-size rem(18)
	margin 0 0 8px

.subtitle
	font-size rem(16)
	margin 0


// BODY
.body
	padding 16px
