@import "../config"

.menu
	&.outline
		border 2px solid nativeRGB(var(--theme-color))
	&.hidden
		display none
	ul
		padding 0
		margin 0
		display flex
		flex-direction column
		li
			svg
				margin-right 8px
			&:last-child
				margin 0
			display inline-flex
			padding 8px
			overflow-x hidden
			text-overflow: ellipsis;
			margin-bottom 8px
			color black
			cursor pointer
			transition all $transition
			font-weight bold
			border-radius 8px
			&:hover
				color black
				background nativeRGB(var(--theme-100))
			@media (prefers-color-scheme dark)
				color white
				&:hover
					color white
					background nativeRGB(var(--gray-700))
			&.selected
			&:active
				background nativeRGB(var(--theme-500))
				color white
