@import '../config'

.div
	position fixed
	left 0
	width 100%
	height 7px
	pointer-events none
	z-index 200

	top 0
	&.hide
		transition top .5s ease-in-out
		top -7px
	div
		&:not([style="width: 0px;"])
			transition width 50ms ease-in-out
		background rgba($main, .7)
		height 100%
