@import "../config"

.menu
	&.outline
		border 2px solid $main
	&.hidden
		display none
	ul
		padding 0
		margin 0
		display flex
		flex-direction column
		li
			svg
				margin-right 8px
			&:last-child
				margin 0
			display inline-flex
			padding 8px
			overflow-x hidden
			text-overflow: ellipsis;
			margin-bottom 8px
			color $darkGrayLight
			cursor pointer
			font-weight bold
			border-radius 8px
			&:hover
				color black
				background $lightGrayLight
			@media (prefers-color-scheme dark)
				color $lightGrayDark
				&:hover
					color white
					background $darkGrayDark
			&.selected
			&:active
				background $main
				color $textOnMain
