@import "../config"

$transparent = 15%

.back
	transition all $transition
	background $mainGradient

	&.fullscreen
		min-height 100vh

.info
	$color = $info
	background linear-gradient(to left, $color, lighten($color, $transparent))

.success
	$color = $success
	background linear-gradient(to left, $color, lighten($color, $transparent))

.danger
	$color = $danger
	background linear-gradient(to left, $color, lighten($color, $transparent))

.warning
	$color = $warning
	background linear-gradient(to left, $color, lighten($color, $transparent))

@media (prefers-color-scheme dark)
	.back
		background $darkBackground
