@import "../config"

$percent = 15%

.back
	transition all $transition
	background $mainGradient

	&.fullscreen
		min-height 100vh

.info
	background linear-gradient(to right, $infoLight, lighten($infoLight, $percent))
	@media (prefers-color-scheme dark)
		background linear-gradient(to right, $infoDark, darken($infoDark, $percent))
		

.success
	background linear-gradient(to right, $successLight, lighten($successLight, $percent))
	@media (prefers-color-scheme dark)
		background linear-gradient(to right, $successDark, darken($successDark, $percent))

.error
	background linear-gradient(to right, $errorLight, lighten($errorLight, $percent))
	@media (prefers-color-scheme dark)
		background linear-gradient(to right, $errorDark, darken($errorDark, $percent))

.warning
	background linear-gradient(to right, $warningLight, lighten($warningLight, $percent))
	@media (prefers-color-scheme dark)
		background linear-gradient(to right, $warningDark, darken($warningDark, $percent))
