.code
	font-family 'source code pro', monospace
	background #E8EAF6
	padding 4px 8px
	border-radius 8px

.pre
	border-radius 8px
	padding 4px 8px
	background #E8EAF6
	display block
	.code
		padding 0
