@import "../../config"

.box
	background $foregroundLight
	@media (prefers-color-scheme dark)
		background $foregroundDark
	border-radius 8px

.outline
	border 2px solid $grayDark
	@media (prefers-color-scheme dark)
		border-color $grayLight
