// quick function to transform hex to rgb
hextorgb(color)
	red(color) unquote(', ') green(color) unquote(', ') blue(color)

generateTheme($name, c50, c100, c200, c300, c400, c500, c600, c700, c800, c900)
	{"--" + $name + "-50"}: hextorgb(c50)
	{"--" + $name + "-100"}: hextorgb(c100)
	{"--" + $name + "-200"}: hextorgb(c200)
	{"--" + $name + "-300"}: hextorgb(c300)
	{"--" + $name + "-400"}: hextorgb(c400)
	{"--" + $name + "-500"}: hextorgb(c500)
	{"--" + $name + "-600"}: hextorgb(c600)
	{"--" + $name + "-700"}: hextorgb(c700)
	{"--" + $name + "-800"}: hextorgb(c800)
	{"--" + $name + "-900"}: hextorgb(c900)
	{"--" + $name + "-50-text"}:  light(c50)  ? black : white
	{"--" + $name + "-100-text"}: light(c100) ? black : white
	{"--" + $name + "-200-text"}: light(c200) ? black : white
	{"--" + $name + "-300-text"}: light(c300) ? black : white
	{"--" + $name + "-400-text"}: light(c400) ? black : white
	{"--" + $name + "-500-text"}: light(c500) ? black : white
	{"--" + $name + "-600-text"}: light(c600) ? black : white
	{"--" + $name + "-700-text"}: light(c700) ? black : white
	{"--" + $name + "-800-text"}: light(c800) ? black : white
	{"--" + $name + "-900-text"}: light(c900) ? black : white

:root
	// gray is not a theme
	generateTheme(
		'gray',
		#FAFAFA,
		#F5F5F5,
		#EEEEEE,
		#E0E0E0,
		#BDBDBD,
		#9E9E9E,
		#757575,
		#616161,
		#424242,
		#212121
	)
:root
:root.theme-base-red
.red
.red *
	generateTheme(
		'theme',
		#FFEBEE,
		#FFCDD2,
		#EF9A9A,
		#E57373,
		#EF5350,
		#F44336,
		#E53935,
		#D32F2F,
		#C62828,
		#D50000
	)
:root.theme-base-pink
.pink
.pink *
	generateTheme(
		'theme',
		#FCE4EC,
		#F8BBD0,
		#F48FB1,
		#F06292,
		#EC407A,
		#E91E63,
		#D81B60,
		#C2185B,
		#AD1457,
		#880E4F
	)
:root.theme-base-purple
.purple
.purple *
	generateTheme(
		'theme',
		#F3E5F5,
		#E1BEE7,
		#CE93D8,
		#BA68C8,
		#AB47BC,
		#9C27B0,
		#8E24AA,
		#7B1FA2,
		#6A1B9A,
		#4A148C
	)
.deep-purple
.deep-purple *
	generateTheme(
		'theme',
		#EDE7F6,
		#D1C4E9,
		#B39DDB,
		#9575CD,
		#7E57C2,
		#673AB7,
		#5E35B1,
		#512DA8,
		#4527A0,
		#311B92
	)
:root.theme-base-indigo
.indigo
.indigo *
	generateTheme(
		'theme',
		#E8EAF6,
		#C5CAE9,
		#9FA8DA,
		#7986CB,
		#5C6BC0,
		#3F51B5,
		#3949AB,
		#303F9F,
		#283593,
		#1A237E
	)
:root.theme-base-blue
.blue
.blue *
	generateTheme(
		'theme',
		#E3F2FD,
		#BBDEFB,
		#90CAF9,
		#64B5F6,
		#42A5F5,
		#2196F3,
		#1E88E5,
		#1976D2,
		#1565C0,
		#0D47A1
	)
.light-blue
.light-blue *
	generateTheme(
		'theme',
		#E1F5FE,
		#B3E5FC,
		#81D4FA,
		#4FC3F7,
		#29B6F6,
		#03A9F4,
		#039BE5,
		#0288D1,
		#0277BD,
		#01579B
	)
:root.theme-base-cyan
.cyan
.cyan *
	generateTheme(
		'theme',
		#E0F7FA,
		#B2EBF2,
		#80DEEA,
		#4DD0E1,
		#26C6DA,
		#00BCD4,
		#00ACC1,
		#0097A7,
		#00838F,
		#006064
	)
:root.theme-base-teal
.teal
.teal *
	generateTheme(
		'theme',
		#E0F2F1,
		#B2DFDB,
		#80CBC4,
		#4DB6AC,
		#26A69A,
		#009688,
		#00897B,
		#00796B,
		#00695C,
		#004D40
	)
:root.theme-base-green
.green
.green *
	generateTheme(
		'theme',
		#E8F5E9,
		#C8E6C9,
		#A5D6A7,
		#81C784,
		#66BB6A,
		#4CAF50,
		#43A047,
		#388E3C,
		#2E7D32,
		#1B5E20
	)
:root.theme-base-light-green
.light-green
.light-green *
	generateTheme(
		'theme',
		#F1F8E9,
		#DCEDC8,
		#C5E1A5,
		#AED581,
		#9CCC65,
		#8BC34A,
		#7CB342,
		#689F38,
		#558B2F,
		#33691E
	)
:root.theme-base-lime
.lime
.lime *
	generateTheme(
		'theme',
		#F9FBE7,
		#F0F4C3,
		#E6EE9C,
		#DCE775,
		#D4E157,
		#CDDC39,
		#C0CA33,
		#AFB42B,
		#9E9D24,
		#827717
	)
:root.theme-base-yellow
.yellow
.yellow *
	generateTheme(
		'theme',
		#FFFDE7,
		#FFF9C4,
		#FFF59D,
		#FFF176,
		#FFEE58,
		#FFEB3B,
		#FDD835,
		#FBC02D,
		#F9A825,
		#F57F17
	)
:root.theme-base-amber
.amber
.amber *
	generateTheme(
		'theme',
		#FFF8E1,
		#FFECB3,
		#FFE082,
		#FFD54F,
		#FFCA28,
		#FFC107,
		#FFB300,
		#FFA000,
		#FF8F00,
		#FF6F00
	)
:root.theme-base-orange
.orange
.orange *
	generateTheme(
		'theme',
		#FFF3E0,
		#FFE0B2,
		#FFCC80,
		#FFB74D,
		#FFA726,
		#FF9800,
		#FB8C00,
		#F57C00,
		#EF6C00,
		#E65100
	)
:root.theme-base-deep-orange
.deep-orange
.deep-orange *
	generateTheme(
		'theme',
		#FBE9E7,
		#FFCCBC,
		#FFAB91,
		#FF8A65,
		#FF7043,
		#FF5722,
		#F4511E,
		#E64A19,
		#D84315,
		#BF360C
	)

:root.theme-base-brown
.brown
.brown *
	generateTheme(
		'theme',
		#EFEBE9,
		#D7CCC8,
		#BCAAA4,
		#A1887F,
		#8D6E63,
		#795548,
		#6D4C41,
		#5D4037,
		#4E342E,
		#3E2723
	)
:root.theme-base-blue-gray
.blue-gray
.blue-gray *
	generateTheme(
		'theme',
		#ECEFF1,
		#CFD8DC,
		#B0BEC5,
		#90A4AE,
		#78909C,
		#607D8B,
		#546E7A,
		#455A64,
		#37474F,
		#263238
	)
:root.theme-base-gray
.gray
.gray *
	generateTheme(
		'theme',
		#FAFAFA,
		#F5F5F5,
		#EEEEEE,
		#E0E0E0,
		#BDBDBD,
		#9E9E9E,
		#757575,
		#616161,
		#424242,
		#212121
	)
