// native RGBA function to replace Stylus rgba function
nativeRGBA(color, opacity)
	unquote('rgba(') color unquote(', ') opacity unquote(');')
nativeRGB(color)
	unquote('rgb(') color unquote(');')

// @deprecated
$main = nativeRGB(var(--theme-500))
$textOnMain = white

$backgroundDark = nativeRGB(var(--gray-900))
$backgroundLight = nativeRGB(var(--gray-50))
$foregroundDark = nativeRGB(var(--gray-800))
$foregroundLight = nativeRGB(var(--theme-50))

// Light theme grays
$darkGrayLight = #777
$lightGrayLight = #F4F4F4

// Dark theme grays
$darkGrayDark = #444
$lightGrayDark = #AAA
// -@deprecated

$transitionTime = .15s
$transitionFunction = ease-in-out
$transition = $transitionTime $transitionFunction


// Breakpoints
$mobile = 768px
$tablet = 1200px

// Row/Col
$totalGapSize = 10%
$colCount = 12
$colCountTablet = 8
$colCountMobile = 4

$gapSize = 16px

rem($a)
	($a / 16)rem
