@import '../config.styl'

.footer
	padding 24px 0
	background nativeRGB(var(--theme-50))
	@media (prefers-color-scheme dark)
		background nativeRGB(var(--gray-800))

	ul
		padding 0
		margin 0
		display flex
		justify-content right
		li
			display inline-block
			padding-left 24px
			+ .icon
				padding-left 16px
			&:not(.icon) + .icon
				padding-left 48px


.animation
	animation grow 1s linear infinite
	display inline-block
	vertical-align middle
	margin 0 2px
	width 16px
	height @width
	vertical-align sub

@keyframes grow
	0%
	40%
	60%
	95%
		transform scale(1)
	50%
	70%
		transform scale(1.2)
