@import '../config.styl'

.footer
	padding 24px 16px

.animation
	animation grow 1s linear infinite
	display inline-block

@keyframes grow
	0%
		transform scale(1)

	40%
		transform scale(1)
	50%
		transform scale(1.2)
	60%
		transform scale(1)
	70%
		transform scale(1.2)
	95%
		transform scale(1)
