@import '../config.styl'

.footer
	padding 16px
	background $foregroundLight
	@media (prefers-color-scheme dark)
		background $foregroundDark

	ul
		padding 0
		margin 0
		margin-top 12px
		display flex
		justify-content center
		li
			display inline-block

		&.socials a
			padding 0 8px

.animation
	animation grow 1s linear infinite
	display inline-block
	vertical-align middle
	margin 0 2px
	width 16px
	height @width
	vertical-align sub

@keyframes grow
	0%
	40%
	60%
	95%
		transform scale(1)
	50%
	70%
		transform scale(1.2)
