.text
	margin 0

.white
	color white

.black
	color #212121

.align-center
	text-align center

.align-right
	text-align right


@media (prefers-color-scheme dark)
	.white:not(.noDarkTheme)
		color #212121
	.black:not(.noDarkTheme)
		color white
